body
{
    background-color: whitesmoke;
}



.text1
{
    border: 2px solid rgb(163, 163, 194);
    border-radius: 4px;
    background-color:rgb(117, 163, 163);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
font-size: 18px;
position: absolute;
top: 34%;
left: 50%;
transform: translate(-50%,-50%);

}




.text2
{
    border: 2px solid rgb(163, 163, 194);
    border-radius: 4px;
    background-color:rgb(117, 163, 163);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
font-size: 18px;
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%,-50%);

}